/* Sidebar           */
/* -------           */
/*                   */
/* https://hypem.com */

body {
  font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
  min-width: 0px;
}

/* Clean up junk. */
#content-right,
#menu-friends,
#menu-item-hypehotel,
#menu-item-supportus,
#message h1,
#search-form > input[type="submit"]
#sponsored_tracks,
#submenu-filter > span.title,
.hypem-events,
.on-bandcamp,
.post_info,
a.read-post,
div.act_info,
div.share-icons,
span.download,
span.share-links
{
  display: none;
}

#submenu a {
  font-size: 10px;
}

.section .meta {
  font-size: 8px;
}

span.remix-link,
span.remix-count {
  font-size: 12px!important;
}
#content-left h3.track_name {
  font-size: 20px;
}

.section .tools a.play-ctrl,
.section .tools .haarp-fav-ctrl {
  font-size: 10px;
}

#search-form {
  display: inherit;
  position: inherit;
  z-index: inherit;
  float: right;
  padding-right: 10px;
}

.section .tools {
  width: 50px;
}

#logo-txt {
  text-align: center;
  float: inherit;
  padding: 0px;
  width: 100%;
}

#player-container #player-inner #player-controls {
  width: 100%;
}

#player-container #player-inner #player-controls #player-timebar {
  width: 100%;
}

#player-container #player-inner #player-controls #player-timebar #player-progress-outer {
  width: 55%;
}
.section-player {
  padding-right: 90px;
}

#player-container #player-inner #player-controls #player-nowplaying {
  animation: marquee 5s ease-in-out infinite alternate;
}

@keyframes marquee {
    from { text-indent: 0px; }
    to { text-indent: -210px; }
}
